
@font-face {
    font-family: 'Gotham Narrow Book';
    
    src: url("/fonts/GothamNarrowBook.otf") format("opentype");
}
.row .bx-wrapper{
	border: 0px solid #e1e1e1;
	border-radius: 4px;
	/*box-shadow: 0 px 0 #952A24;*/
	/*box-shadow: 0 2px 4px rgba(0,0,0,.2);*/
	-webkit-box-shadow: -8px 10px 12px -16px rgba(0,0,0,0.75) !important;
	-moz-box-shadow: -8px 10px 12px -16px rgba(0,0,0,0.75) !important;
    box-shadow: -8px 10px 12px -16px rgba(0,0,0,0.75) !important;
}
.slide{
	padding: 8px;
	/**border-right: 1px solid #ccc;*/
}
.fuente{
	font-size: 10px !important;
	padding: 10px;
	padding-bottom: 0px;
}
.portada{
	text-align: center;
}

.clima-display{
}

.navbar-toggle {
	background-color: #000;
}

.index{
	padding: 20px;
	margin-left: 40px;
	border: 1px solid black;
}
.portfolio-item{
	word-wrap: break-word;
	height: 100%;
	box-sizing: border-box;
}
h2{
	font-size: 1.5em !important;
}
p{
	line-height: 1.6;
}
body{
	/*font-size: 1.625rem;*/
	/*line-height: 1.75rem;*/
	overflow-x: hidden;
	/*background: #eaeaea;/*#f3f3f3;/*#f8f8f8;; /*#E9EAED*/
	font-family: "Gotham Narrow Book",Arial,'Source Sans Pro',Helvetica,Helvetica,Arial,Utkal,sans-serif;
	color: black;/*#9D9D9D;*/
	padding-top: 0px;
	background-color: #DCDBD9;
	/*line-height: 1.6 !important;*/*
}
.container{
	/*padding-bottom: 10px;*/
}
.date{
	text-align: right;
	/*font-size: 18px;*/
	/*font-family: 'Cinzel Decorative', cursive;*/
	
	padding: 5px;
	padding-top: 15px;
	font-family: 'Cinzel-Regular';
	letter-spacing: 2px;
	font-weight: 900;
	/*font-weight: 700;*/
	/*color: #000 !important;
	/*ont-weight: 700;*/
	color: #23527c;
	font-size: 11px;
}
.navbar-inverse{
	background-color: transparent; 
	font-family: 'Cinzel-Regular';
	padding-bottom: 10px;
}

.links{
	padding: 0px !important;
	font-size: 13px;
	text-align: center;

}
.nav > li > a{
	
	
	padding-bottom: 5px !important;
}
.nav > li > a:hover{
	border-bottom: 1px solid #1C4468;
}
ul{
	text-align: center !important;
}
a{
	color: #000000;/*rgba(0,0,0,.87);/*#003459;/*#085F5C;/*#3B5998;*/
	font-weight: 600;
	cursor: pointer;
	word-wrap: break-word;
}
a:hover{
	text-decoration: none;
	/*color: #880b10 !important;*/
}
a .logo{
	/*color:white;*/
	color: #23527c;
	letter-spacing: 2px;
	margin-left: 5px;
	/*font-family: "Gotham Narrow Book",Arial,'Source Sans Pro',Helvetica,Helvetica,Arial,Utkal,sans-serif !important;*/
}

.logo{
	font-weight: 600 !important;
	/*color: #14213d;/*rgb(211, 72, 54);/*#ad0e14;/*#0f16bf !important;*/
	padding-bottom: 15px;
	padding-left: 0px;
	font-family: 'Julius Sans One', sans-serif;

	font-family: 'Playfair Display', serif; /*10*/
	/*font-family: 'PT Serif', serif;*/
}
.logo, .subtitulo, .date, .clima, .ribbon{
	/*font-family: "Gotham Narrow Book",Arial,'Playfair Display', serif; /*10*/

    /*font-family: 'Open Sans Condensed', sans-serif;

    /*font-family: 'Orbitron', sans-serif;

    /*font-family: 'Economica', sans-serif;

   /* font-family: 'Kite One', sans-serif;*/


}

.subtitulo, .date, .clima, .ribbon, .links{
	font-family: "Gotham Narrow Book",Arial,'Source Sans Pro',Helvetica,Helvetica,Arial,Utkal,sans-serif !important;
}

.logo_img{
	box-shadow: 0 0px 0 #952A24 !important;
	border-radius: 0 !important;
	padding-right: 4px;
	padding-left: 4px;
	padding-top:16px;
	float: left;
	width:60px !important;
	height:90px !important;
}
a.navbar-brand{
	
	/*font-family: 'Shadows Into Light', cursive;*/
	/*font-family: 'Poiret One', cursive;*/
	font-weight: 500;

}
.subtitulo{
	font-size: 14px;
	padding-top: 10px;
	padding-left: 0px;
	/*color: #000;/*#006063;*/
}
.title{
	font-weight: 700 !important;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

h5{
	font-size: 11px;
}


img { 
	display: block;
    margin-left: auto;
    margin-right: auto;
    
	-webkit-box-shadow: 0px 24px 34px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 24px 34px -18px rgba(0,0,0,0.75);
	box-shadow: 0px 24px 34px -18px rgba(0,0,0,0.75);

	filter: brightness(107%) sepia(0%) contrast(107%) grayscale(0%) saturate(90%) hue-rotate(0deg);
	-webkit-filter: brightness(107%) sepia(0%) contrast(107%) grayscale(0%) saturate(90%) hue-rotate(0deg);
	-moz-filter: brightness(107%) sepia(0%) contrast(107%) grayscale(0%) saturate(90%) hue-rotate(0deg);
	-ms-filter: brightness(107%) sepia(0%) contrast(107%) grayscale(0%) saturate(90%) hue-rotate(0deg);
	-o-filter: brightness(107%) sepia(0%) contrast(107%) grayscale(0%) saturate(90%) hue-rotate(0deg);
	/*display: none;*/
}
img, .img-responsive{
    padding: 0;
    margin: 0;
    /*width:100%;*/
    max-width: 100%;
	height:auto;
	margin: 0 auto;
	display: table;
	/*min-width: 240px;*/
	border-radius: 4px;*/
	/**-webkit-box-shadow: 0px 21px 18px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 21px 18px -16px rgba(0,0,0,0.75);
	box-shadow: 0px 21px 18px -16px rgba(0,0,0,0.75);/
}
.img-responsive{
	/*padding-top: 5px;*/
}
.subtitle a{
	color: #000;/*rgba(0,0,0,.87);*/
	font-weight: 100;
	font-family: Helvetica,Arial;
	font-size: 1em;
}
.texto-noticia{
	
}

.navbar-inverse .navbar-brand {
    /*margin-left: -30px !important;*/
    /*font-weight: bold;*/
    font-size: 20px;
    /*height: 35px;*/
    padding-bottom: 10px;
}
.navbar-inverse .navbar-nav > li > a {
    /**color: #9d9d9d;*/
}
.navbar {
	margin-bottom: 0px;
	-webkit-box-shadow: 0px 10px 34px 0px rgba(143,133,143,1);
-moz-box-shadow: 0px 10px 34px 0px rgba(143,133,143,1);
box-shadow: 0px 10px 34px 0px rgba(143,133,143,1);
}
.rel {
      display: none;
      background: white;
      padding-bottom: 10px;
      /*border-right: 1px solid #D3D3D3;*/
      /*border-bottom: 1px solid #D3D3D3;*/
      /*width:120px;*/
      /*height:80px;*/
}
.rel img{
  border: 0;
  width:120px;
  height:80px;
  /*padding: 5px;*/

}
.rel a{
	font-weight: normal;
}
span .head{
  color: black;
}
span .head a{
  color: blue !important;
}
span .head:hover{
  color: black;
}
label:hover{
  color: red;
  cursor: pointer;
  text-transform: 
}
.beta{
  color: red;
}
.subtitle a{
  color: black !important;
}
/*.navbar-header img{
	width:80px !important;
	height:60px !important;
	float:left;
}*/
.navbar-header h6{
	/*color: #9D9D9D;*/
}
.clima{
	font-size: 11px;
	/*float: right;*/
	color:#fff !important;
	padding: 10px;
	/*padding-top: 15px;*/
	/*font-weight: 700;
	/*border: 1px solid #ededed;
	/*clear: both;
	/*overflow: hidden;*/
}
div .clima-display .bx-wrapper{
	background: transparent !important; 
	border: 0 !important;
	-moz-box-shadow: 0 !important;
	-webkit-box-shadow: 0 !important;
	box-shadow: 0 !important;
	margin-bottom: 0 !important;
}
.clima img{
	max-height: 50px !important;
	max-width: 50px !important;
	min-height: 50px !important;
	min-width: 50px !important;
	width:50px !important;
	height:50px !important;
	filter: brightness(1.0) sepia(0%) contrast(110%) grayscale(0%) saturate(90%);
	-webkit-filter: brightness(0.9) sepia(0%) contrast(120%) grayscale(0%) saturate(100%) hue-rotate(0deg);
	-moz-filter: brightness(1.0) sepia(100%) contrast(110%) grayscale(0%) saturate(90%);
	-ms-filter: brightness(1.0) sepia(100%) contrast(110%) grayscale(0%) saturate(90%);
	-o-filter: brightness(1.0) sepia(0%) contrast(110%) grayscale(0%) saturate(90%);
	/*box-shadow: 0px 0px 0px 0px #000 !important;*/
}
#dia2,#dia3,#dia4,#dia5{
	display: none;
}
.q img{
	width: 80px;
	height: 80px;
	padding-bottom: 7px;
}
.q{
	font-family: Helvetica,arial !important;
	font-size: 13px !important;
	line-height: 1.6rem !important;
}
.mas a{
	/*color:#3B5998;*/
	cursor: pointer;
}
label.relacionadas{
	color: black;
}
label.relacionadas:hover, label.relacionadasb:hover{
	text-decoration: underline;
}
label.relacionadasb{
	color: black;
}
label.relacionadasc{
	color: black;
}
.qtip-icon .ui-icon {
	width: 30px !important;
	height: 25px !important;
	font-size: 25px !important;
	padding-top: 6px;
	color: red !important;
}
.qtip-content {
	text-align: left !important;
	top: 0 !important;
	left: 0 !important;
	width: 500px !important;
	height: 100% !important;
	/*background: #F3F3F3 !important;*/
}
.dropdown, .dropdown-toggle{
	background: transparent !important;
	color: #000 !important;
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: inherit;
}
.col-md-4 {
    /*border: 1px solid transparent;*/
    padding-right: 10px;
}
.grid-item{
	padding: 30px;
}
.item{
	padding-bottom: 10px;
}
.ribbon{
    top: 1px;
    left: 0;
    /*width: 33%;*/
    z-index: 1;
    color: #222;/*#a31621;*/
    font-size: 14px;
    margin: 0;
    margin-left: -10px;
    border-top: 0px solid #a31621;
    /*padding: 8px;
    /*border-left: 1px solid #a31621;*/
    
    /*font-family: 'Muli', sans-serif;*/
	/*font-family: 'Libre Franklin', sans-serif;*/
	/*font-family: 'Poiret One', cursive;*/
	/*font-family: 'Didact Gothic', sans-serif;*/
	/*font-family: 'Forum', cursive;*/
	/*font-family: 'Fredericka the Great', cursive;*/
}
h5{
	/*font-weight: bold;*/

}
.category{
	background: transparent;/*#679436;*/
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	padding: 10px;
	position: relative;
	font-size: 14px;
	font-weight: 600;
	color: #004e98;
	color: red;
	font-weight: bolder;
	letter-spacing: 1px;
	/*border-bottom: 1px solid #a31621;*/
}
.portfolio-item{
	/*background: #eee;/*#f4f7f6;/*#f3f3f3;*/
	/*background: #d2d2d2;*/
	padding: 0px;
	/*background:#fafafa;*/
    
    /*border-top: .01em solid #679436;*/
    /*border-right: .01em solid #679436;*/
    /*border-bottom: .01em solid #fca311;*/
    /*border: 1px solid #952A24;*/

    border-radius: 3px;
    /*box-shadow: -5px 5px 4px 0 rgba(0,0,0,.09);*/
    /*box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.04);*/
	/*transition: box-shadow .3s ease-in-out;*/

    /*-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.04) !important;*/
	/*-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.04) !important;*/
    /*box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.04) !important;*/
    /*border: 1px solid #679436;*/
    vertical-align: top;
    
}

.portfolio-item:nth-child(even){
	/*background: #d2d2d2;/*#ededed;
   	/*border: 0px solid #679436;
   	border-top:0px;
   	
    /*border-right: 2px groove #a31621;
    border-bottom: 2px groove #2176ae;*/
}
.portfolio-item:nth-child(odd){
	/*border: 0px solid #679436;
	/*background: ;
   /* border-left: 2px groove #a31621;
    border-bottom: 2px groove #2176ae;
    border-top: 0px solid #679436;*/
}


#col2:nth-child(even){  
	border: 0px dotted #679436;
    /*border-left: 2px groove #a31621;
    border-top: 2px groove #2176ae;*/
}
#col2:nth-child(odd){
	border: 0px dotted #679436; 
    /*border-right: 2px groove #a31621;
    border-top: 2px groove #2176ae;
    border-left: 0px solid #679436;*/
}



.page-header {
    border-bottom: 0px solid #D3D3D3;
}


.vticker ul{
	padding: 0;
}
.vticker li{
	
	padding: 10px;
}

.vticker2 ul{
	padding: 0;
}
.vticker2 li{
	
	padding: 10px;
}

.vticker3 ul{
	padding: 0;
}
.vticker3 li{
	
	padding: 10px;
}


.img-mono3 img{
	width: 236px;
	height: 158px;
	box-shadow: 0;
}
.load-depo, .load-otras, .load-portada{
	width: 200px;
	height: 200px;
	margin: auto;
	margin-top: 50px;
	background-image: url("/img/loa.gif");
	background-repeat: no-repeat;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
