 <!DOCTYPE html>
<html lang="es">
<head>
	<link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<div class="row" class="index">
        <div class="col-md-12">
            {% for i in data %}
            <div class="col-md-6">
    			{{i.category}}
    		</div>
    		<div class="col-md-6">
    			{{i.keyword}}
    		</div>
    		
    		{% endfor %}
    	</div>
    </div>
</div>
</body>
    
