<nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse" role="navigation">
  <div class="container">
      <!--** Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header col-md-4">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
          <a class="navbar-brand" href="/" >
            <div class="logo">Noticias de Uruguay</div>
          </a>
      </div>
      
      
      <div class="col-md-4 clima-display">
      </div>
      <div class="col-md-4 date">
        {{week_day}}&nbsp;&nbsp;{{dia}} / {{mes}} / {{year}}
      </div>
  </div>
  <!--
  <div class="container links">

        <div class="collapse navbar-collapse" id="collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Portadas</a></li>
            <li><a href="/">Politica</a></li>
            <li><a href="/">Deportes</a></li>
        
            <li><a href="/">Nacionales</a></li>
          </ul>      
        </div>
  </div>
-->
      
</nav>