<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portal multimedia de noticias actualizadas las 24 horas, sobre Uruguay y el mundo, noticias tomadas de diferentes portales uruguayos, el observador, portal 180, el pais, uypress">
    <meta name="author" content="Matias Tafernaberry">
    <meta name="news_keywords" content="Compendio de Noticias Uruguay y el Mundo, 180, El observador, El pais, Similar Google News Uruguay, ">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Charrua news</title>

    <!-- Bootstrap CSS -->    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <!--external css-->
    <script src="js/jquery.js"></script>
    <style type="text/css">
    .rel {
      display: none;
    }
    label {
      color: blue;
    }
    label:hover{
      color: red;
      cursor: pointer;
      text-transform: 
    }
    .beta{
      color: red;
    }
    </style>

    
<!-- Charrua News -->    
    <script type="text/javascript">
      $( window ).load(function() {
        $(".relacionadas").click(function() {
          //alert("clik");
          var hr = $(this).attr("name");
          //alert(hr);
          if ($('#' + hr + "0").css('display') == 'none'){
            $("#" + hr + "0").css("display","block");
            $("#" + hr + "1").css("display","block");
            $("#" + hr + "2").css("display","block");
            $("#" + hr + "3").css("display","block");
            $("#" + hr + "4").css("display","block");
            $("#" + hr + "5").css("display","block");
            $("#" + hr + "6").css("display","block");

          }else{
            if ( $('#' + hr + "0").css('display') == 'block' ){
              $("#" + hr + "0").css("display","none");
              $("#" + hr + "1").css("display","none");
              $("#" + hr + "2").css("display","none");
              $("#" + hr + "3").css("display","none");
              $("#" + hr + "4").css("display","none");
              $("#" + hr + "5").css("display","none");
              $("#" + hr + "6").css("display","none");
            }
          }          
        });
      })
    </script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67501247-1', 'auto');
  ga('send', 'pageview');

</script>
    <base target="_blank">
  </head>

  <body> 
  <!-- container section start -->
  <section id="main-content">
          <section>
            <header class="header2 dark-bg">
                  <div class="toggle-nav">
                      <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
                  </div>
                  <!--logo start-->
                  <div>
                    <a href="/" class="logo">Charrúa <span>news</span></a>       
                  </div>
                  <div><label class="beta">ALPHA</label></div>
            </header>  
          </section>   
          <div class="row"></div> 
          <div class="row">
            
            <div class="col-xs-6">
              {% autoescape on %}
              {% if data %}
                <div class="container">
                    {% for i in data %}
                        <div class="row">
                            <h5>{{ i.news_from }}</h5>
                            <div class="col-sm-4">
                              <a href="{{i.url}}">{{i.category}}</a>
                              <a href="{{i.url}}">{{i.image}}</a>
                              {% if i.similar %}
                                {% set outer_loop = loop.index %}
                                <div><label name="{{outer_loop}}" class="relacionadas">Noticias Relacionadas</label></div>
                                {% for e in i.similar %}
                                  <div><h5>{{ e.news_from }}</h5></div>
                                {% endfor %}
                            </div>
                            <div class="col-sm-8">
                                <h4><a href="{{i.url}}">{{i.title}}</a></h4>
                                <div>
                                  <a href="{{i.url}}">{{i.subtitle}}</a>
                                </div>                              
                            </div>
                            <p>
                              {% for e in i.similar %}
                                  <div class="row rel" id="{{outer_loop}}{{loop.index0}}">
                                      <div class="col-sm-4">
                                        <h5>{{ e.news_from }}</h5>
                                        <a href="{{e.url}}">{{e.category}}</a>
                                        <a href="{{e.url}}">{{e.image}}</a>
                                      </div>
                                      <div class="col-sm-8">
                                          <h4><a href="{{e.url}}">{{e.title}}</a></h4>
                                          <div>
                                            <a href="{{e.url}}">{{e.subtitle}}</a>
                                          </div>
                                      </div>
                                  </div>
                              {% endfor %}
                            </p>
                          {% endif %}
                        </div>
                    {% endfor %}
                </div>
              {% endif %}
              {% endautoescape %}
            </div>
            <div class="col-xs-3">
              
              
            </div>
            <div class="col-xs-3">
              
              <div>
                  
              </div>
              
              <div>
                
              </div>
            </div>
          </div>
         
    </section>
   
  </body>
  
</html>
